/* Fontes */
@font-face {
  font-family: 'Goblin One';
  src: url('../fonts/GoblinOne-Regular.ttf') format('truetype');  
}

@font-face {
  font-family: 'Inika';
  src: url('../fonts/Inika-Regular.ttf') format('truetype');
}
/* Fim de fontes */


/* Corpo geral da página */

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

html {
  background-color: #229799;
}

.screen {
  display: flex;


  align-items: center;

  justify-content: center;

  flex-direction: column;
}
/* fim do corpo geral*/


.homepagedecor {
    margin-top: 150px;

    border-radius: 15px;

    margin-left: 400px;
    margin-right: 400px;
}

.hpdecorcontainer {
    display: flex;
}

.cat-image {
    display: flex;
    margin: 0 auto;

    width: 350px;
}

.titulo {
    font-family: 'GoblinOne-Regular', sans-serif;
    font-style: normal;
    color: #F5F5F5;

    white-space: normal;    

    margin-top: 20px;

    margin-left: 10px;
    margin-right: 10px;

    padding-left: 5px;
    padding-right: 5px;
}
.text {
    font-family: 'Inika', serif;

    color: #F5F5F5;

    font-size: 20px;
    
    margin-top: 10px;

    margin-left: 10px;
    margin-right: 10px;

    padding-left: 10px;
    padding-right: 10px;

    white-space: normal;

    text-align: left;
}
.introtxt {
  padding: 20px;
  background-color: #229799;


  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  justify-content: center;

  display: block;
}

.curiosidades {
  background-color: #424242;
  padding: 20px;

  display: block;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  border-bottom-right-radius: 10px;
}

.yellow {
  color: yellow;
}

.yellow:hover {
  color: #F5F5F5;
}

@media (max-width: 768px) {
  .iconcontainer {
      display: flex;
      align-items: center;
  
      user-select: none;
  }
  
  .caticon {
      width: 60px;
      height: 60px;
  
      float: left;
  }
  .lovecats {
    margin-left: 10px; 
    font-size: 30px;
    color: #F5F5F5;
  
    font-family: 'Inika', serif;
  }
  .bar {
    position: absolute;
    background: #424242;

    padding: 10px;
    margin: 5px;
    width: 90%;

    border-radius: 10px;

    justify-content: left;
    display: flex;
    flex-direction: row;

    z-index: 999;
    top: 0%;
  }
  .buttonscontainer {
      display: none;
  }
  .cat-image {
    display: block;
    margin-top: 100px;

    width: 200px;
  }
 .homepagedecor {
    margin-top: 100px;
    display: block;
    margin: 0;
  }
  .hpdecorcontainer {
    display: block;
  }
  .introtxt {
    border-radius: 0;
  }
  .curiosidades {
    border-radius: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.iconcontainer {
      display: flex;
      align-items: center;
  
      user-select: none;
  }
  
  .caticon {
      width: 60px;
      height: 60px;
  
      float: left;
  }
  .lovecats {
    margin-left: 10px; 
    font-size: 30px;
    color: #F5F5F5;
  
    font-family: 'Inika', serif;
  }
  .bar {
    position: absolute;
    background: #424242;

    padding: 10px;
    margin: 5px;
    width: 90%;

    border-radius: 10px;

    justify-content: left;
    display: flex;
    flex-direction: row;

    z-index: 999;
    top: 0%;
  }
  .buttonscontainer {
      display: none;
  }
  .cat-image {
    display: block;
    margin-top: 100px;

    width: 200px;
  }
 .homepagedecor {
    margin-top: 100px;
    display: block;
    margin: 0;
  }
  .hpdecorcontainer {
    display: block;
  }
  .introtxt {
    border-radius: 0;
  }
  .curiosidades {
    border-radius: 0;
  }
}