/* Fontes */
@font-face {
  font-family: 'Goblin One';
  src: url('./fonts/GoblinOne-Regular.ttf') format('truetype');  
}

@font-face {
  font-family: 'Inika';
  src: url('./fonts/Inika-Regular.ttf') format('truetype');
}
/* Fim de fontes */


/* Corpo geral da página */

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

html {
  background-color: #F5F5F5;
}

.screen {
  display: flex;


  align-items: center;

  justify-content: center;

  flex-direction: column;
}
/* fim do corpo geral*/


/* ícone e título do site */
.iconcontainer {
    display: flex;
    align-items: center;

    user-select: none;
}

.caticon {
    width: 60px;
    height: 60px;

    float: left;
}

.lovecats {
  margin-left: 10px; 
  font-size: 30px;
  color: #F5F5F5;

  font-family: 'Inika', serif;
}

/* bar stuff and buttons */
.bar {
    position: absolute;
    background: #424242;

    padding: 10px;
    margin: 5px;
    width: 80%;

    border-radius: 5px;

    justify-content: left;
    display: flex;
    flex-direction: row;

    z-index: 999;
    top: 0%;
}

.buttonscontainer {
  width: 100%;
  
  display: flex;

  justify-content: right;
  align-items: right;
  text-align: left;
}

.barbutton {
  background-color: #229799;
  color: #F5F5F5;
  
  font-family: 'Inika';
  
  margin: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;

  border: none;
  cursor: pointer;
}

.barbutton:hover {
  background-color: #F5F5F5;
  color: #229799;
}

/* ----------------------------------------- */


.homepagedecor {
    margin-top: 150px;

    border-radius: 15px;

    margin-left: 400px;
    margin-right: 400px;
}

.hpdecorcontainer {
    display: flex;
}

.cat-image {
    display: flex;
    margin: 0 auto;

    width: 350px;
}
.titulo {
    font-family: 'GoblinOne-Regular', sans-serif;
    font-style: normal;
    color: #F5F5F5;

    white-space: normal;    

    margin-top: 20px;

    margin-left: 10px;
    margin-right: 10px;

    padding-left: 5px;
    padding-right: 5px;
}
.text {
    font-family: 'Inika', serif;

    color: #F5F5F5;

    font-size: 20px;
    
    margin-top: 10px;

    margin-left: 10px;
    margin-right: 10px;

    padding-left: 10px;
    padding-right: 10px;

    white-space: normal;

    text-align: left;
}
.introtxt {
  padding: 20px;
  background-color: #229799;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  justify-content: center;

  display: block;
}

.curiosidades {
  background-color: #424242;
  padding: 20px;

  display: block;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  border-bottom-right-radius: 10px;
}

.yellow {
  color: yellow;
}

.yellow:hover {
  color: #F5F5F5;
}

@media (max-width: 768px) {
  .imggithub{
    height: 50px;
    width: 50px;
  }
  .githcontainer{
    margin-right: 5px;
  }
  .buttonscontainer{
      margin-left: 5px;
      white-space: nowrap;
  }
  .barbutton{
    margin: 5px;
    padding: 10px;
    font-size: 10px;
  }
  .ilovefloppaimg{
    width: 300px;
  }
  .ilovefloppatxt{
    font-size: 30px;
    top: 15%;
  }
  .homepagedecor{
    margin-top: 150px;
  }
  .introduction{
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .imggithub{
    height: 80px;
    width: 80px;
  }
  .githcontainer{
    margin-right: 10px;
  }
  .buttonscontainer{
      margin-left: 10px;
      white-space: nowrap;
  }
  .barbutton{
    margin: 5px;
    padding: 15px;
    font-size: 15px;
  }
  .ilovefloppaimg{
    width: 500px;
  }
  .ilovefloppatxt{
    font-size: 35px;
    top: 15%;
  }
  .homepagedecor{
    margin-top: 150px;
  }
  .introduction{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
  }
}